{% extends "base.html" %}

{% block main %}

<div class="row results">
    <div class="large-12 columns ">
        <div class="row" style="margin-top: 3em" >

            <div class="large-9 columns">
                <p> Search Results for "{{ genre }}": {{ tv_list | length }}</p>
            </div>
            <div class=" large-3 columns ">
                <select name="sortOptions">
                    <option value="sortby">Sort By</option>
                    <option value="cats">Rating</option>
                    <option value="title">Title</option>
                    <option value="mrecats">More Cats</option>
                </select>
            </div>
        </div>

        {% for tv in tv_list %}
        <article class="website-example row wide">
            <div class="large-4 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <img src="static/img/{{tv.poster}}" alt="Mini Cooper Site Desktop Image">
                    </div>
                </div>
            </div>
            <div class="large-8 columns">
                <h3><a href="/tv?title={{tv.title}}">{{tv.title}}</a></h3>
                <h6><span class="label">{{tv.rating}}</span></h6>
                <p>{{tv.description}}</p>
                <a class="button" href="/tv?title={{tv.title}}">Take a Closer Look »</a>
            </div>
        </article>

        {% endfor %}


        <a href="#" class="button right"> show more results &raquo;</a>
    </div>
</div>

{% endblock %}
